body {
	
}
.cursorpointer{
	cursor: pointer;
}
.fontsize2{
	font-size: 2em;
	padding-left: 5px;
}
.darkbg{
	background-color: #4B3768;
	height: 400px;
	text-align: center;
}
.whitebg{
	background-color: #fff;
	height: 400px;
	text-align: center;
	position: relative;
}
.blackbg{
	background-color: #000;
	height: 400px;
	text-align: center;
}
.lightbg{
	background-color: #edebef;
	height: 400px;
	text-align: center;
}
.topheading{
	font-family: 'Pacifico';
	color: #fff;
	font-size: 4em;
	padding-top: 5%;
}
.secondheading{
	font-family: 'OpenSansLight';
	color: #fff;
	font-size: 1.8em;
	padding-top: 50px;
}
.logoimage{
	position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    max-width: 90%;
}